#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localvm.localnet

# Root password
rootpw --iscrypted $6$jWwv2c8VWCjRSoih$o99pF0ocRDmNiNEHz6EaRMEwGzb9W5i2kFI38cbgUDKeFRd.UR7P1Cf9N3kxvUxthWdM6EZO6R.Jiq.hjvZFE1

# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Kuala_Lumpur --isUtc --nontp
user --groups=wheel --name=centos --password=$6$i1J2VEwYnepr2Ohw$1G9Ss5RO4oWH.KRjfPEYFs0T8glQpEA.GJMZJ6orEzm0PuvtLpKCSga1eJmzAEK3JHLBQ9yK04YIN9bfxCV4A1 --iscrypted --gecos="centos"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
